<my-table
    [fields]="fields"
    [entities]="schools"
    [midEditSwapAlert]="midEditSwapAlert"
    [editedRowTemplate]="trimmedEditedSchoolTemplate"
    [emptyEntity]="emptySchool"
    [inputEditedEntityIndex]="inputEditedEntityIndex"
    (onEditedEntityChanged)="handleEditChange($event)"
    (onAction)="handleAction($event)">
</my-table>

<ng-template #trimmedEditedSchoolTemplate let-editedEntity="editedEntity">
    <td>
        <input [(ngModel)]="editedEntity.name" class="form-control"
        required [maxlength]="255">
    </td>
    <td>
        <search
            [entities]="allMunicipalities" [displayField]="'name'"
            [initialValue]="editedEntity.municipality" (onEntitySelected)="changeMunicipality($event, editedEntity)">
        </search>
    </td>
    <td>
        <search
            [entities]="streetsForEditedMunicipality" [displayField]="'name'"
            [initialValue]="editedEntity.address.street" (onEntitySelected)="changeStreet($event, editedEntity)">
        </search>
    </td>
    <td>
        <input [(ngModel)]="editedEntity.address.houseNumber" class="form-control"
        type="number" min="0" max="1023">
    </td>
</ng-template>