<div class="card">
    <div class="card-header">
        <div class="header-right">
            <div class="d-flex align-items-center gap-1">
                <i *ngIf="canEdit" class="fa-solid fa-pen-to-square clickable" ngbTooltip="עריכת פוסט" placement="left" (click)="onEdit.emit()"></i>
                <i *ngIf="canDelete" class="fa-solid fa-trash clickable" ngbTooltip="מחיקת פוסט" placement="left" (click)="onDelete.emit()"></i>
                <div class="title">{{ post.title }}</div>
            </div>
            <div *ngIf="post.lastUpdatedAt" class="edited">(ערוך)</div>
        </div>
        <div class="header-left">
            <div class="author-name">{{ authorName }}</div>
            <div class="published-at">{{ post.publishedAt | date : 'dd/MM/yyyy HH:mm' : undefined : 'en-IL' }}</div>
        </div>
    </div>
    <div class="card-body">
        <pre>{{ post.body }}</pre>
    </div>
    <div class="card-footer">
        <div class="footer-data">
            <div class="comment-count clickable" ngbTooltip="תגובות" placement="left" (click)="openPostView()">
                {{ post.totalChildrenCount }} <i class="fa-regular fa-comment"></i>
            </div>
            <div *ngIf="post.lastUpdatedAt" class="updated-at">נערך לאחרונה ב{{ post.lastUpdatedAt | date : 'dd/MM/yyyy HH:mm' : undefined : 'en-IL' }}</div>
        </div>
        <div *ngIf="mostPopularComment; else noComments" class="most-popular-comment clickable" (click)="openPostView()">
            <div class="popular-header">
                <i class="fa-solid fa-fire text-warning me-2" aria-hidden="true"></i>
                התגובה הכי פופולרית
            </div>
            <div class="popular-body">"{{ mostPopularComment.body }}"</div>
            <div class="popular-meta">
                <span class="author">{{ mostPopularComment.authorName }}</span>
                <span class="timestamp">{{ mostPopularComment.publishedAt | date : 'dd/MM/yyyy HH:mm' : undefined : 'en-IL' }}</span>
            </div>
        </div>
    </div>
</div>

<ng-template #noComments>
  <div (click)="openPostView()" class="clickable no-comments">לא קיימות תגובות לפוסט</div>
</ng-template>
