<loader *ngIf="isLoading"></loader>
<ng-container *ngIf="!isLoading">
    <selected-school-info class="sticky" [selectedSchoolName]="selectedSchoolName" [pageName]="PAGE_NAME"></selected-school-info>
    <div *ngIf="!subjects?.length" class="no-subjects">לא קיימים נושאים בבית הספר {{selectedSchoolName}}.<br>{{noSubjectsInstructions}}</div>
    <ng-container *ngIf="subjects?.length">
        <div class="filters-and-actions sticky">
            <i class="fa-solid fa-circle-plus" ngbTooltip="צור פוסט" placement="top" (click)="openPostForm()"></i>
            <search [entities]="users" displayField="display" placeholder="משתמש מפרסם" (onEntitySelected)="updateAuthorFilter($event[0])"></search>
            <input placeholder="טקסט(כותרת או גוף)" class="form-control" [ngModel]="textFilter" (ngModelChange)="updateTextFilter($event)"/>
        </div>
        <ul ngbNav #nav="ngbNav" [activeId]="activeSubjectId" (activeIdChange)="changeTab($event)" class="nav-tabs sticky">
            <li *ngFor="let subject of subjects" [ngbNavItem]="subject.id">
                <button ngbNavLink class="subject-title">
                    {{ subject.name }}
                    <i *ngIf="subject.associatedSchools.length > 1" class="fa-solid fa-handshake" ngbTooltip="משותף לכמה בתי ספר" placement="top"></i>
                </button>
                <ng-template ngbNavContent>
                    <post-card *ngFor="let post of postsToDisplay" [post]="post" [users]="users"
                        (onEdit)="openPostForm(post)" (onDelete)="deletePost(post.id!)">
                    </post-card>
                    <div *ngIf="!postsToDisplay?.length" class="no-posts">
                        עדיין לא קיימים פוסטים התואמים לסינון.<br>
                        כדי לשנות את זה, יש ללחוץ על כפתור היצירה בחלק העליון של העמוד.
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </ng-container>
</ng-container>

