<ngb-toast
  *ngFor="let toast of allToasts$ | async"
  [header]="toast.header" [autohide]="false"
  [delay]="toast.delay || 5000" (hidden)="toastService.remove(toast)"
  [class]="toast.classes"
>
  {{toast.message}}
</ngb-toast>
<nav style="display: flex; justify-content: space-evenly; align-items: center;">
    <a routerLink="school-management" style="text-decoration: none; color: black;">Page currently being built</a>
    <h3 *ngIf="environment !== 'Prod'" >{{ environment }}</h3>
</nav>
<router-outlet></router-outlet>