<div class="post-container card shadow-sm" *ngIf="post">
  <div class="card-header d-flex justify-content-between align-items-start flex-wrap">
    <div class="post-title d-flex mb-2 gap-3 align-items-center">
      <div  class="post-actions ms-auto d-flex gap-2">
        <a routerLink="/forum" class="btn btn-sm btn-outline-success">
            <i class="fa-solid fa-arrow-right"></i>
        </a>
        <ng-container *ngIf="canEdit || canDelete">
          <button
            *ngIf="canEdit" [disabled]="isProcessing"
            class="btn btn-sm btn-outline-primary"
            (click)="editPost()"
            title="ערוך פוסט">
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
          <button
            *ngIf="canDelete" [disabled]="isProcessing"
            class="btn btn-sm btn-outline-danger"
            (click)="deletePost()"
            title="מחק פוסט">
            <i class="fa-regular fa-trash-can"></i>
          </button>
        </ng-container>
      </div>
      <h2 class="m-0">{{ post.title }}</h2>
    </div>
    <div class="post-meta text-end">
      <div class="author fw-bold">{{ authorName }}</div>
      <div class="text-muted small">
        {{ post.publishedAt | date : 'dd/MM/yyyy HH:mm' : undefined : 'en-IL' }}
      </div>
      <div *ngIf="post.lastUpdatedAt" class="text-muted small fst-italic">
        נערך לאחרונה ב{{ post.lastUpdatedAt | date : 'dd/MM/yyyy HH:mm' : undefined : 'en-IL' }}
      </div>
    </div>
  </div>

  <div class="card-body">
    <app-media *ngFor="let mediaItem of (post?.media ?? [])" [mediaItem]="mediaItem"></app-media>
    <p class="post-body">{{ post.body }}</p>
  </div>

  <div class="card-footer">
    <div class="comment-summary text-muted mb-3">
      <i class="fa-regular fa-comment me-1"></i> {{ post.totalChildrenCount }} תגובות
    </div>

    <div class="comments-section">
      <ng-container *ngIf="comments.length; else noComments">
        <comment-tree
          *ngFor="let comment of comments; let index = index"
          [comment]="comment"
          [expanded]="expanded" [processed]="processedComments"
          [userIdToDisplayName]="userIdToDisplayName"
          [postSchools]="postSchools"
          (onExpand)="toggleCommentExpanding(index, $event)"
          (onEdit)="setEditingComment($event)"
          (onDelete)="deleteComment($event)"
          (onReply)="setReplyParent($event)">
        </comment-tree>
      </ng-container>

      <ng-template #noComments>
        <div class="text-muted">לא קיימות תגובות לפוסט</div>
      </ng-template>
    </div>

    <div class="comment-input mt-4">
      <div *ngIf="replyParentId || editingComment" class="comment-context alert alert-info d-flex justify-content-between align-items-center">
        <div>
          <span *ngIf="editingComment">
            <i class="fa-regular fa-pen-to-square me-1"></i>
            עריכת תגובה
          </span>
          <span *ngIf="replyParentId">
            <i class="fa-solid fa-reply me-1"></i>
            תגובה ל{{ repliedUserName }}
          </span>
        </div>
        <button class="btn btn-sm btn-outline-danger" (click)="initNewComment()">
          ביטול
        </button>
      </div>

      <div *ngIf="maxMediaItems > selectedMediaItems.length" class="mb-3 d-flex gap-4 align-items-center">
        <label class="form-label media-input-label mb-0">מדיה לתגובה</label>
        <input class="form-control ms-5" type="file" (change)="onFilesSelected($event)" [accept]="acceptedFileTypes" />
      </div>

      <div *ngIf="selectedMediaItems.length" class="mb-3">
          <div *ngFor="let mediaItem of selectedMediaItems; let index=index;" class="media-box">
            <app-media [mediaItem]="mediaItem"></app-media>
            <button type="button" class="btn btn-outline-danger" (click)="removeMediaItem(index)">הסר</button>
          </div>
        </div>

      <textarea
        [(ngModel)]="newCommentBody"
        rows="3"
        class="form-control"
        placeholder="כתוב תגובה...">
      </textarea>

      <div class="actions mt-2 d-flex justify-content-end gap-2">
        <button
          class="btn btn-primary"
          (click)="submitComment()"
          [disabled]="!newCommentBody || isProcessing">
          {{ editingComment ? 'שמור שינויים' : 'שלח תגובה' }}
        </button>
        <button
          *ngIf="replyParentId && !editingComment"
          class="btn btn-outline-secondary"
          [disabled]="isProcessing"
          (click)="initNewComment()">
          בטל תגובה
        </button>
      </div>
    </div>
  </div>
</div>
