<div class="input-group">
    <input 
      [type]="showPassword ? 'text' : 'password'" 
      class="form-control" 
      [(ngModel)]="password"
      (input)="onPasswordChange()" 
      [ngClass]="isValid ? 'is-valid' : 'is-invalid'"
      [required]="isRequired"
      [attr.pattern]="validationRegex.source"
      [placeholder]="placeholder" />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="togglePasswordVisibility()" type="button">
        <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
      </button>
    </div>
  </div>
  