<loader *ngIf="isLoading; else forgotPasswordPage"></loader>
<ng-template #forgotPasswordPage>
    <div class="container-fluid">
        <div class="title-row">
            <div class="title">שכחתי סיסמה</div>
        </div>
    
        <div class="input-row password-row">
            <div class="input-group">
                <div class="field-name">סיסמה</div>
                <password-input placeholder="סיסמה" [validationRegex]="PASSWORD_PATTERN" (passwordChange)="updateNewPassword($event)"></password-input>
            </div>
        </div>

        <div class="input-row password-row">
            <div class="input-group">
                <div class="field-name">חזור על סיסמה</div>
                <password-input #repeatPassword placeholder="סיסמה" (passwordChange)="validateRepeatPassword($event)"></password-input>
            </div>
        </div>

    
        <div class="submit-btn-container">
            <button type="submit" class="submit-btn" (click)="submit()">
                שנה סיסמה
            </button>
        </div>
    </div>
</ng-template>
